absl-py==0.2.0
asn1crypto==0.22.0
astor==0.6.2
bleach==1.5.0
cachetools==2.0.1
certifi==2018.4.16
chardet==3.0.4
cymem==1.31.2
cytoolz==0.8.2
dj-database-url==0.5.0
Django==2.1
gunicorn==19.9.0
pipenv==2018.7.1
plac==0.9.6
preshed==1.0.0
protobuf==3.5.2.post1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pymongo==3.6.1
SQLAlchemy==1.2.7
whitenoise==3.3.1
psycopg2==2.7.2
