{% load static%}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home - Happywords</title>
    <style> 
    </style>
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/static/css/clean-blog.min.css" rel="stylesheet">
    <style>
    .del{
      color:red;

    }
    </style>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Happy Words</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#top">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
              <a class="nav-link" href="{% url 'login' %}">Login</a>
              {% endif %}
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Contact_me' %}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 id="top">Happy Words</h1>
              <span class="subheading">The Journey of every letters</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      {% if user.is_authenticated %}
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="{% url 'post_new'%}">Write a post &rarr;</a>
        </div>
        {% else %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{% url 'login'%}">Write a post &rarr;</a>
      </div>
        {% endif %}
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% for p in pst %}
          <div class="post-preview">
              <h2 class="post-title" style="text-align:center;">
                  {{p.post_title}}
              </h2>
              <br>
              <h6 class="post-subtitle" style="text-align:left;">
                  {{p.post_text}}
              </h6>
            <p class="post-meta">Posted by
              {{p.post_author.first_name}}
              In  {{p.post_date}}
              {% if user.is_authenticated %}
              <a href="{% url 'post_likes_add' user_id=user.id id=p.id %}" ><i onclick="myFunction(this)" class="fa fa-thumbs-up"></i> </a>   {{p.total_likes}}
              <br>
              {% else %}
              <a href="{% url 'login' %}" class="post-subtitle" style="color:blueviolet;">Login to Like</a></p>
              {% endif %}
              {% if user == p.post_author%}
                <a href = "{% url 'delete_post' user_id=user.id id=p.id%}" class="post-subtitle del">Delete post</a>
              {% endif %}
              </div>
          <hr>
          {% endfor %}
          <!-- Pager -->
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/static/js/clean-blog.min.js"></script>
    <script>
      function myFunction(x) {
       x.classList.toggle("fa-thumbs-down");
    }
    </script>
  </body>

</html>
