<html>
    <head><title>
        Sntory life - Home
    </title>
    </head>
    <body>
        <a href="{% url 'login' %} ">Login</a><br>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout </a>
          hi  {{user.email}}
          <br>{{user.first_name}}<br>
           <a href="{% url 'post_new' %}">ssss</a>
        {% endif %}
        <br>
        <a href="{% url 'sign_up' %}">sigm</a>

        <br>
        {% for p in pst %}
            {{p.post_title}}<br>
            {{p.post_text}}
            <br>
            <br>
        {% endfor %}    
        delete 
        <br>
        change <br>
    </body>
</html>